/* Below 1620px (Smaller desktops) */

@media (max-width: 1620px) {
    html {
        font-size: 56.25% !important;
    }
}

/* Below 1366px */

@media (max-width: 1366px) {
    .rooms-grid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

/* Below 1200px (Landscape tablets) */

@media (max-width: 1200px) {
    .rooms-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .page-hero {
        flex-direction: column;
    }

    .hero--video {
        margin-top: 20rem;
        max-width: 90rem;
    }

    #video-presentation {
        width: 100%;
    }
}

/* Below 1030px */

@media (max-width: 1030px) {
    .header-options {
        margin-left: 0 !important;
    }

    .rooms-grid {
        grid-gap: 18px !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

/* Below 940px (Tablets) */

@media (max-width: 940px) {
    html {
        font-size: 50% !important;
    }

    .total-price {
        display: none !important;
    }
}

/* Below 860px */

@media (max-width: 860px) {
    .header {
        display: none !important;
    }

    .section-filters-container {
        padding: 1rem 5rem !important;
    }

    .section-rooms {
        padding: 2.2rem 5rem !important;
    }

    .room-reserve {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .reserve--price {
        margin-top: 2.2rem;
        max-width: 38.6rem;
    }
}

/* Below 704 (Smaller tablets) */

@media (max-width: 704px) {
    html {
        font-size: 42% !important;
    }

    .rooms-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .images-grid-2 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .images-grid-4 {
        display: none !important;
    }
}

@media (max-width: 590px) {
    .share-save {
        display: none !important;
    }

    .reserve--price {
        margin: 2.2rem auto;
    }
}

@media (max-width: 555px) {
    .section-page--center {
        padding: 0 2rem !important;
    }

    .hero--header textarea {
        min-width: 100% !important;
        width: 100% !important;
    }

    .price-per-night {
        margin: 0 auto;
        padding: 1.5rem 3rem !important;
    }

    .price-per-night span {
        font-size: 3rem !important;
    }
}

/* Below 426 (Phones) */

@media (max-width: 426px) {
    html {
        font-size: 40% !important;
    }

    .rooms-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}