/* ----------- HEADER ----------- */

.header {
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.20) 1px solid;
    color: #333;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 0 7.8rem;
}

.header--room {
    padding: 0;
}

.logo {
    width: 10.2rem;
}

.header-options {
    align-items: center;
    border: rgba(51, 51, 51, 0.28) 1px solid;
    border-radius: 50px;
    display: flex;
    gap: 2rem;
    margin-left: 18rem;
    padding: .8rem 1rem .8rem 2rem;
    transition: .4s ease;
}

.header-options:hover {
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
    cursor: pointer;
}

.header-options--text {
    font-size: 1.4rem;
    font-weight: 500;
}

.header-options--text.border {
    border-left: rgba(51, 51, 51, 0.28) 1px solid;
    border-right: rgba(51, 51, 51, 0.28) 1px solid;
    padding: .6rem 2.2rem;
}

.header-options--text.fw-400 {
    color: rgba(51, 51, 51, 0.68);
    font-weight: 400;
}

.header-options--text.mr-10 {
    margin-right: 8.8rem;
}

.header-options--search {
    background-color: #FF385C;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
}

.header-options--search img {
    height: 1.2rem;
}

.header-user {
    align-items: center;
    display: flex;
    gap: 2rem;
    user-select: none;
    position: relative;
}

.header-user--home {
    font-size: 1.4rem;
    font-weight: 500;
}

.header-user--info {
    align-items: center;
    border: rgba(51, 51, 51, 0.28) 1px solid;
    border-radius: 50px;
    display: flex;
    gap: 2rem;
    padding: .5rem .6rem;
    transition: .4s ease;
}

.header-user--info:hover {
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
    cursor: pointer;
}

.header-user--menu {
    height: 1.6rem;
    margin-left: 6px;
}

.header-user--profile {
    height: 3rem;
}

.header-user--options {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
    position: absolute;
    right: -2px;
    top: 50px;
    width: 24rem;
    z-index: 1;
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.options-list li {
    padding: 1.5rem;
}

.options-list li:nth-child(2) {
    border-bottom: rgba(51, 51, 51, 0.28) 1px solid;
    margin-bottom: .3rem;
    padding-bottom: 1.9rem;
}

.option {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: .8;
    padding: 10px;
    transition: .3s all;
}

.option:hover {
    opacity: 1;
}

.show-menu {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 50%;
    padding: 2rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.login-container--content {
    background-color: white;
    border-radius: 15px;
}

.content--header {
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
    display: flex;
    padding: 2.4rem;
    position: relative;
}

.header-close {
    left: 3.4rem;
    opacity: .8;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    width: 20px;
}

.header-close:hover {
    cursor: pointer;
    opacity: 1;
}

.header-title {
    font-size: 1.8rem;
    margin: auto;
}

.content--user {
    padding: 2.4rem;
}

.user-title {
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 3.5rem;
}

.content--social-networks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.social-network {
    border: rgba(51, 51, 51, 0.5) 1px solid;
    border-radius: 10px;
    padding: 1.6rem 2.3rem;
    transition: .3s ease;
}

.social-network:hover {
    border: rgba(51, 51, 51, 0.8) 1px solid;
    cursor: pointer;
}

.social-network--link {
    align-items: center;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 42rem;
}

.social-network--link img {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
}

/* ----------- FILTERS ----------- */

.section-filters {
    display: flex;
    flex-wrap: nowrap;
    gap: 3.2rem;
    overflow: hidden;
    width: 100%;
}

.section-filters-container {
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.20) 1px solid;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem 7.8rem;
    width: 100%;
}

.filter {
    align-items: center;
    border-bottom: 2px solid rgba(51, 51, 51, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    opacity: 0;
    transition: .4s all ease;
}

.filter:hover {
    border-bottom: 2px solid rgba(51, 51, 51, 0.42);
    cursor: pointer;
    opacity: 1 !important;
}

.filter img {
    width: 2.8rem;
}

.filter--description {
    color: #333;
    font-size: 1.1rem;
    white-space: nowrap;
}

.navigation-buttons {
    display: flex;
}

.navigation-buttons button {
    background-color: transparent;
    border: rgba(51, 51, 51, 0.5) 1px solid;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    opacity: .8;
    padding: .6rem;
    transition: .4s all ease;
}

.navigation-buttons.left {
    margin-right: 2rem;
}

.navigation-buttons.right {
    margin: 0 2rem;
}

.navigation-buttons button:hover {
    opacity: 1;
}

.navigation-buttons img {
    width: 1.4rem;
}

.button-filters {
    align-items: center;
    border: rgba(51, 51, 51, 0.3) 1px solid;
    border-radius: 12px;
    display: flex;
    gap: 1rem;
    padding: 1rem 1.2rem;
    transition: .4s ease;
}

.button-filters:hover {
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
    cursor: pointer;
}

.button-filters--description {
    color: #333;
    font-size: 1.2rem;
    font-weight: 400;
}

/* ----------- TOTAL PRICE ----------- */

.section-total-price {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1.5rem 5rem 0 5rem;
}

.total-price {
    align-items: center;
    border: rgba(51, 51, 51, 0.20) 1px solid;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.6rem 1.8rem;
    transition: .4s ease;
}

.total-price--description {
    align-items: center;
    display: flex;
}

.total-price--text {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 2.2rem;
}

.total-price--paragraph {
    color: rgba(51, 51, 51, 0.72);
    font-size: 1.5rem;
    font-weight: 400;
    padding: .6rem 2.2rem;
}

.total-price--paragraph.border {
    border-left: rgba(51, 51, 51, 0.28) 1px solid;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    -webkit-transition: .4s;
}

.slider:before {
    -webkit-transition: .4s;
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #222;
}

input:checked + .slider:before {
    transform: translateX(26px);
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider.round:after {
    background-color: white;
    border-radius: 50%;
    content: '';
    height: 26px;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: .4s;
    width: 26px;
    -webkit-transition: .4s;
}

input:checked + .slider.round:before {
    transform: translateX(26px);
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

input:checked + .slider.round:after {
    transform: translateX(26px);
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

/* ----------- ROOMS ----------- */

.section-rooms {
    padding: 2.2rem 7.8rem;
}

.rooms-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, 1fr);
}

.card-room {
    cursor: pointer;
    opacity: 0;
}

.card-room--photo {
    border-radius: 12px;
    height: 26rem;
    object-fit: cover;
    width: 100%;
}

.card-room--info-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.card-room--info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.info-city {
    font-size: 1.5rem;
    font-weight: 500;
}

.info-location,
.info-duration {
    color: rgba(51, 51, 51, 0.75);
    font-size: 1.4rem;
    font-weight: 400;
}

.room-price {
    align-items: baseline;
    display: flex;
    gap: .5rem;
}

.info-price {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 5px;
}

.info-price--description {
    font-size: 1.6rem;
    font-weight: 300;
}

.card-room--rating {
    display: flex;
    gap: .2rem;
}

.card-room--rating img {
    height: 1.4rem;
}

.rating {
    color: rgba(51, 51, 51, 0.94);
    font-size: 1.4rem;
    font-weight: 600;
}

/* ----------- ROOM ----------- */

.section-room {
    padding: 3.8rem 4rem;
}

.room-title {
    font-size: 2.6rem;
    font-weight: 400;
}

.room--info-share-save {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.room-info {
    align-items: center;
    display: flex;
    gap: .5rem;
    margin-top: 2rem;
}

.room-info--reviews,
.room-info--location,
.room-info--share,
.room-info--save {
    font-weight: 400;
    text-decoration: underline;
}

.share-save {
    align-items: baseline;
    display: flex;
    gap: 2rem;
}

.share-save img {
    width: 2rem;
}

.share,
.save {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: .8rem;
}

.room--images {
    border-radius: 12px;
    margin: 2.8rem 0;
    overflow: hidden;
}

.room--images-m0 {
    border-radius: 12px;
    margin: 0;
    overflow: hidden;
}

.images-grid-2,
.images-grid-4 {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}

.images-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.images-grid-4 {
    grid-template-columns: repeat(2, 1fr);
}

.image-big {
    height: 57rem;
    object-fit: cover;
    width: 100%;
}

.image-small {
    height: 28rem;
    object-fit: cover;
    opacity: 0;
    width: 100%;
}

.room-reserve {
    column-gap: 10rem;
    display: grid;
    grid-template-columns: 10fr 6fr;
}

.reserve--host {
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.28) 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.host-info {
    display: flex;
    flex-direction: column;
}

.host-title {
    font-size: 2.2rem;
    font-weight: 400;
}

.host-image {
    border-radius: 50px;
    width: 5.6rem;
}

.info--aircover {
    border-bottom: rgba(51, 51, 51, 0.28) 1px solid;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 2.8rem 0;
}

.info--aircover img {
    width: 12.4rem;
}

.aircover-paragraph {
    font-size: 1.6rem;
}

.aircover-more {
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: underline;
}

.info--detailed {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 2rem 0;
}

.show-more {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    gap: .5rem;
    margin-top: 1.5rem;
    text-decoration: underline;
}

.show-more img {
    width: 12px;
}

.reserve--price {
    border: rgba(51, 51, 51, 0.28) 1px solid;
    border-radius: 16px;
    height: fit-content;
    padding: 2.4rem;
}

.price-info {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.price {
    align-items: baseline;
    display: flex;
    gap: 2px;
}

.price h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

.price h6 {
    font-size: 1.6rem;
    font-weight: 400;
}

.reviews {
    color: rgba(51, 51, 51, 0.8);
    font-weight: 400;
    text-decoration: underline;
}

.check-in--info {
    border: rgba(51, 51, 51, 0.40) 1px solid;
    border-radius: 10px;
    margin-top: 2.4rem;
}

.check-in--check-out {
    display: flex;
    justify-content: space-between;
}

.check-in,
.check-out {
    padding: 1.2rem;
}

.check-in h6,
.check-out h6,
.guests h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.check-in.bb,
.check-out.bb {
    border-bottom: rgba(51, 51, 51, 0.28) 1px solid;
}

.check-in.br {
    border-right: rgba(51, 51, 51, 0.28) 1px solid;
}

.guests {
    cursor: pointer;
    padding: 1.2rem;
    position: relative;
    user-select: none;
}

.guests--count {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 0;
}

input[type="date"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="date"] {
    border-radius: 5px;
    border: rgba(51, 51, 51, 0.28) 1px solid;
    color: #333;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
}

.guests select {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.2rem 0;
    width: 100%;
}

.guests input::placeholder {
    color: #333;
}

.option--guest {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.guest-age {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.category-name {
    font-size: 1.8rem;
    font-weight: 500;
}

.category-age {
    font-size: 1.3rem;
    font-weight: 400;
}

.guest-quantity {
    align-items: center;
    display: flex;
}

.quantity-less,
.quantity-more {
    align-items: center;
    border: rgba(51, 51, 51, 0.6) 1px solid;
    border-radius: 50px;
    display: flex;
    padding: .5rem;
    transition: .3s ease;
}

.quantity-less:hover,
.quantity-more:hover {
    cursor: pointer;
    border: rgba(51, 51, 51, 1) 1px solid;
}

.quantity-less img,
.quantity-more img {
    width: 1.5rem;
}

.quantity {
    margin: 0 1rem;
}

.reserve-button {
    background-color: #E61E4D;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 2.4rem;
    transition: .3s ease;
}

.reserve-button:hover {
    background-color: #E00B41;
}

.reserve-button h5 {
    color: white;
    font-size: 1.8rem;
    margin: auto;
    padding: 2rem 0;
}

.options-list--guest li:nth-child(2) {
    border-bottom: none;
}

.guest-opacity {
    cursor: default;
    opacity: 1;
}

.width-lg {
    margin-top: 4rem;
    width: 38rem;
}

/* ----------- BECOME A HOST ----------- */

.section--header-scrollbar {
    align-items: center;
    color: #333;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 0 6rem;
    position: relative;
}

.header--buttons {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.progress-bar {
    background-color: #ccc;
    height: .5rem;
    position: relative;
}

.progress-bar--fill {
    background-color: #333;
    height: 100%;
    transition: width .5s ease-in-out;
}

.buttons {
    border: rgba(51, 51, 51, 0.4) 1px solid;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1rem 1.6rem;
    transition: .3s ease;
}

.buttons:hover {
    border: rgba(51, 51, 51, 0.8) 1px solid;
}

.buttons-scrollbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-back a {
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}

.button-next {
    background-color: #333;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1.4rem 3.2rem;
    transition: .3s ease;
}

.button-next:hover {
    background-color: #111;
}

.section-page {
    align-items: center;
    height: calc(100vh - 24.4rem);
    padding: 0 6rem;
}

.section-page--center {
    align-items: center;
    display: flex;
    height: calc(100vh - 16.5rem);
    justify-content: center;
    padding: 0 6rem;
}

.page-hero {
    align-items: center;
    display: flex;
    margin-top: 7.8rem;
}

.info-steps {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.info-about {
    font-size: 4.4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
}

.info-description {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.flex-col {
    flex-direction: column;
}

.hero--title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.hero--title-p5 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.hero--subtitle {
    color: rgba(51, 51, 51, 0.8);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.property-type {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.property-type--card {
    border: rgba(51, 51, 51, 0.4) 1px solid;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    padding: 1.6rem;
    transition: .3s ease;
}

.property-type--card:hover {
    border: rgba(51, 51, 51, 1) 1px solid;
}

.property-type--card img {
    width: 4rem;
}

.type-description {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: .5rem;
}

.hero--header,
.hero--description {
    margin-top: 2rem;
    width: 100%;
}

.hero--header textarea {
    border-radius: 12px;
    color: #333;
    font-size: 1.8rem;
    height: 16rem;
    padding: 2rem;
    resize: none;
    min-width: 70rem;
}

.hero--description textarea {
    border-radius: 12px;
    color: #333;
    font-size: 1.8rem;
    height: 24rem;
    padding: 2rem;
    resize: none;
    min-width: 70rem;
}

.hero--price {
    border: rgba(51, 51, 51, 0.4) 1px solid;
    border-radius: 12px;
    padding: 3.2rem;
}

.hero--price-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.hero--price-less,
.hero--price-more {
    align-items: center;
    border: rgba(51, 51, 51, 0.4) 1px solid;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    padding: 1.5rem;
    transition: .3s ease;
}

.hero--price-less:hover,
.hero--price-more:hover {
    border: rgba(51, 51, 51, 0.8) 1px solid;
}

.hero--price-less img,
.hero--price-more img {
    width: 2rem;
}

.price-per-night {
    align-items: center;
    border: rgba(51, 51, 51, 0.6) 1px solid;
    border-radius: 12px;
    display: flex;
    margin: 0 12rem;
    padding: 1.5rem 5rem;
}

.price-per-night span {
    font-size: 5rem;
}

.price-description {
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 2rem;
}

.price-info--become-a-host {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    justify-content: center;
}